@page
@model TourismApp.Pages.CountryManager.CreateCountryModel

<h2>Cadastrar País</h2>

<form method="post">

    <label>Nome do país:</label>
    <input asp-for="Input.CountryName" />
    <span asp-validation-for="Input.CountryName"></span>

    <label>Código do país:</label>
    <input asp-for="Input.CountryCode" />
    <span asp-validation-for="Input.CountryCode"></span>

    <button type="submit">Salvar</button>

</form>

@if (Model.CreatedCountry != null)
{
    <p>
        País criado:
        <strong>
            @Model.CreatedCountry.CountryName
            (@Model.CreatedCountry.CountryCode)
        </strong>
    </p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}