@page
@model TourismApp.Pages.CityManager.CityListModel

<h2>Lista de cidades</h2>

<ul>
    @foreach (var city in Model.Cities)
    {
        <li>
            <a asp-page="CityDetails" asp-route-cityName="@city">
                Ver detalhes de @city
            </a>
        </li>
    }
</ul>