@page
@model TourismApp.Pages.CityManager.CreateCityModel

<h2>Cadastrar Cidade Turística</h2>

<form method="post">

    <label>Nome da cidade:</label>
    <input asp-for="Input.CityName" />

    <span asp-validation-for="Input.CityName"></span>

    <button type="submit">Enviar</button>

</form>

@if (Model.Message != null)
{
    <p><strong>@Model.Message</strong></p>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}